{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<table class="table table-dark">
     
    <title>Document</title>
</head>
<body>
    <table class="table table-dark">0
    <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Photo</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for d in data  %}
        <tr>
            <td>{{d.id}}</td>
            <td>{{d.name}}</td>
            <td>{{d.price}}</td>
            <td><img src="{{ d.photo.url }}" alt="" height="100px" width="100px"></td>
            <td>
                <div class="px-5 py-4">
                    <button type="update" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg" style="color: aliceblue;"><a href="{% url 'app1:update' d.id  %}" style="color: aliceblue;">Update</a></button>
                    <button type="delete" data-mdb-button-init data-mdb-ripple-init class="btn btn-danger btn-lg" style="color: aliceblue;"><a href="{% url 'app1:delete' d.id %}" style="color: aliceblue;">Delete</a></button>
                  </div>
            </td>
        
        </tr>
          
        {% endfor %}
      </tbody>
    </table>
    <div class="px-5 py-4">
        <button type="add data" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg" style="color: aliceblue;"><a href=" {% url 'app1:create' %}" style="color: aliceblue;"> add car</a></button>
      </div>
</body>
</html>